.button__submit{
    width:100%;
    padding:0.5rem  1rem;
    cursor: pointer;
    background: #D6D9DA;
    border:solid #00000049;
    color:#788D96;
    border-radius:15px;
    font-size:1.2rem;
}
.button__danger{
    background: #e74c3c;
    width:100%;
    padding:0.5rem  1rem;
    cursor: pointer;
    border:solid #00000049;
    color:#eeeeee;
    border-radius:5px;
    font-size:1.2rem;
    margin-top: 1rem;
}