.contact-container{
    display: flex;
    justify-content: space-between;
}
.contact-container img{
    width: 50%;
}

.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
}
.form-container input, textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding:1rem;
    border-radius: 5px;
    border:1px solid #000000a1;
}

@media (min-width:240px) and (max-width: 880px){

    .contact-container{
        flex-direction: column-reverse;
        padding: 3rem 0;
    }
    .contact-container img{
        width: 100%;
    }


}